@import './base.css';

body {
    color: #222;
    background: #fff;
    font: 100% system-ui;
}
a {
    color: #0033cc;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: rgba(33, 37, 41, 0.96);
    }

    body a {
        color: #809fff;
    }
}


